<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="partials/_header::header"></th:block>
<body>
<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <th:block th:include="partials/_navbar::navbar"></th:block>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <th:block th:include="partials/_sidebar::sidebar"></th:block>
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-md-4 grid-margin stretch-card">
                        <th:block th:include="partials/_info::nodeHeight"></th:block>
                    </div>
                    <div class="col-md-4 grid-margin stretch-card">
                        <th:block th:include="partials/_info::lastTx"></th:block>
                    </div>
                    <div class="col-md-4 grid-margin stretch-card">
                        <th:block th:include="partials/_info::lastProducer"></th:block>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 grid-margin stretch-card">
                        <th:block th:include="partials/_node::nodeControl"></th:block>
                    </div>
                    <div class="col-lg-6 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Transactions 10 sec</h4>
                                <canvas id="tpsChart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:partials/_footer.html -->
            <th:block th:include="partials/_footer::footer"></th:block>
            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<th:block th:include="partials/_script::script"></th:block>
<script src="js/chart.js"></script>
<script>

    var tps;

    $(document).ready(function() {
        setTimeout(getStatus, 10);
        initTps();
        setTimeout(updateTps, 10);
    });

    function getStatus() {
        $.ajax({
            url: 'api/lastblock',
            success: function(data) {
                $("#nodeHeight").text(data.height.$numberLong);
                $("#lastTx").text(data.timeStamp.$date);
                $("#lastProducer").text(data.producer);
            }
        });
        setTimeout(getStatus, 2000);
    }

    function initTps(){
        $.ajax({
            url: 'api/tpschart',
            success: function(data) {
                tps = new Chart($("#tpsChart"), $.parseJSON(data));
            }
        });
    }

    function updateTps(){
        $.ajax({
            url: 'api/tpschart',
            success: function(data) {
                tps.data.datasets[0] = $.parseJSON(data).data.datasets[0];
                tps.update(0);
            }
        });
        setTimeout(updateTps, 10000);
    }

</script>
</body>

</html>