<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="partials/_header::header"></th:block>
<body>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-center auth px-0">
        <div class="row w-100 mx-0">
          <div class="col-lg-4 mx-auto">
            <div class="auth-form-light text-left py-5 px-4 px-sm-5">
              <div class="brand-logo">
                <img th:src="@{images/cpx_logo_mini.svg}" alt="logo">
              </div>
              <h4>You are new here?</h4>
              <h6 class="font-weight-light">It only takes a few steps</h6>
              <form class="pt-3" th:action="@{register}" method="post">
                <div class="form-group">
                  <input type="text" class="form-control form-control-lg" name="inputUsername" id="inputUsername" placeholder="Username">
                </div>
                <div class="form-group">
                  <input type="password" class="form-control form-control-lg" name="inputPassword" id="inputPassword" placeholder="Password">
                </div>
                <div class="form-group">
                  <input type="password" class="form-control form-control-lg" name="inputPasswordRepeat" id="inputPasswordRepeat" placeholder="Repeat Password">
                </div>
                <div class="form-group">
                  <h6 class="font-weight-light">2FA is mandatory for this Application</h6>
                  <h6 class="font-weight-light">Please write down the provided secret as you will never see it again!</h6>
                </div>
                <div class="form-group">
                  <div id="qr"></div>
                  <p></p>
                  <h4 th:text="${secret}"></h4>
                  <input type="hidden" name="secret" id="secret" th:value="${secret}">
                  <p></p>
                </div>
                <div class="mt-3">
                  <button type="submit" class="btn btn-block btn-primary btn-lg">
                    <i class="mdi mr-4"></i>CREATE ACCOUNT
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script th:src="@{vendors/base/vendor.bundle.base.js}"></script>
  <!-- endinject -->
  <!-- inject:js -->
  <script th:src="@{js/off-canvas.js}"></script>
  <script th:src="@{js/hoverable-collapse.js}"></script>
  <script th:src="@{js/template.js}"></script>
  <script th:src="@{js/qr.js}"></script>
  <!-- endinject -->
</body>

</html>
