<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="partials/_header::header"></th:block>
<body>
<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <th:block th:include="partials/_navbar::navbar"></th:block>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <th:block th:include="partials/_sidebar::sidebar"></th:block>
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-md-6 grid-margin stretch-card">
                        <th:block th:include="partials/_settings::updateNode"></th:block>
                    </div>
                    <div class="col-md-6 grid-margin stretch-card">
                        <th:block th:include="partials/_settings::wipe"></th:block>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 grid-margin stretch-card">
                        <th:block th:include="partials/_settings::changePass"></th:block>
                    </div>
                    <div class="col-md-6 grid-margin stretch-card">
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:partials/_footer.html -->
            <th:block th:include="partials/_footer::footer"></th:block>
            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<th:block th:include="partials/_script::script"></th:block>
</body>

</html>