<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="partials/_header::header"></th:block>
<body>
<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <th:block th:include="partials/_navbar::navbar"></th:block>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <th:block th:include="partials/_sidebar::sidebar"></th:block>
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-md-4 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title mdi mdi-wallet icon-md text-github">  Wallet</h4>
                                <div class="row">
                                    <div class="col-md-6 grid-margin stretch-card">
                                        <th:block th:include="partials/_wallet::tx-create"></th:block>
                                    </div>
                                    <div class="col-md-6 grid-margin stretch-card">
                                        <th:block th:include="partials/_wallet::tx-import"></th:block>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title mdi mdi-chevron-double-right icon-md text-github">  Transaction</h4>
                                <div class="row">
                                    <div class="col-md-4 grid-margin stretch-card">
                                        <th:block th:include="partials/_wallet::tx-transfer"></th:block>
                                    </div>
                                    <div class="col-md-4 grid-margin stretch-card">
                                        <th:block th:include="partials/_wallet::tx-vote"></th:block>
                                    </div>
                                    <div class="col-md-4 grid-margin stretch-card">
                                        <th:block th:include="partials/_wallet::tx-register"></th:block>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title text-github">  Wallets</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title text-github">  Transactions</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:partials/_footer.html -->
            <th:block th:include="partials/_footer::footer"></th:block>
            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<th:block th:include="partials/_script::script"></th:block>
<th:block th:include="partials/_wallet::register-script"></th:block>
</body>
</html>