<div xmlns:th="http://www.thymeleaf.org" th:fragment="header">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Supernode Management</title>
        <!-- plugins:css -->
        <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="vendors/mdi/css/materialdesignicons.min.css" type="text/css">
        <link rel="stylesheet" href="vendors/base/vendor.bundle.base.css" type="text/css">
        <!-- endinject -->
        <!-- plugin css for this page -->
        <link rel="stylesheet" href="vendors/datatables.net-bs4/dataTables.bootstrap4.css" type="text/css">
        <!-- End plugin css for this page -->
        <!-- inject:css -->
        <link rel="stylesheet" href="css/style.css" type="text/css">
        <!-- endinject -->
        <link rel="shortcut icon" href="images/CPX.png"/>
    </head>
</div>