<div xmlns:th="http://www.thymeleaf.org" th:fragment="nodeHeight">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title mdi mdi-sort-ascending icon-md text-primary">  Node Block Height</h4>
            <div class="media">
                <i class="d-flex align-self-start mr-3"></i>
                <div class="media-body">
                    <h4 class="card-text" id="nodeHeight"></h4>
                </div>
            </div>
        </div>
    </div>
</div>
<div xmlns:th="http://www.thymeleaf.org" th:fragment="lastTx">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title mdi mdi-lumx icon-md text-primary">  Latest Block Timestamp</h4>
            <div class="media">
                <i class="d-flex align-self-start mr-3"></i>
                <div class="media-body">
                    <h4 class="card-text" id="lastTx"></h4>
                </div>
            </div>
        </div>
    </div>
</div>
<div xmlns:th="http://www.thymeleaf.org" th:fragment="lastProducer">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title mdi mdi-account-circle icon-md text-primary">  Latest Producer</h4>
            <div class="media">
                <i class="d-flex align-self-start mr-3"></i>
                <div class="media-body">
                    <h4 class="card-text" id="lastProducer"></h4>
                </div>
            </div>
        </div>
    </div>
</div>