<div xmlns:th="http://www.thymeleaf.org" th:fragment="nodeHeight">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title mdi mdi-sort-ascending icon-md text-primary">  Node Block Height</h4>
            <div class="media">
                <i class="d-flex align-self-start mr-3"></i>
                <div class="media-body">
                    <h3 class="card-text" id="nodeHeight"></h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div xmlns:th="http://www.thymeleaf.org" th:fragment="lastTx">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title mdi mdi-lumx icon-md text-primary">  Latest Tx</h4>
            <div class="media">
                <i class="d-flex align-self-start mr-3"></i>
                <div class="media-body">
                    <h3 class="card-text" id="lastTx"></h3>
                </div>
            </div>
        </div>
    </div>
</div>