<div xmlns:th="http://www.thymeleaf.org" th:fragment="nodeControl">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title mdi mdi mdi-earth">  Supernode</h4>
            <form th:action="@{node}" method="post" th:if="${nodeStatus} ne 'running'">
                <div class="form-group">
                    <label for="commit">Git Commit Hash or Branch</label>
                    <input type="text" class="form-control" name="commit" id="commit" placeholder="master">
                </div>
                <div class="form-group">
                    <label for="release">Release Version</label>
                    <select class="form-control" id="release" name="release">
                        <option value="0.9.2" selected>0.9.2</option>
                        <option value="0.9.1" >0.9.1</option>
                        <option value="0.9.0" >0.9.0</option>
                    </select>
                </div>
                <div class="form-group">
                    <button type="submit" th:disabled="${nodeStatus} eq 'install'" class="btn btn-block btn-success btn-lg" name="action" value="install">
                        <i class="mdi mr-4"></i>Install
                    </button>
                </div>
                <div class="form-group">
                    <button type="submit" th:disabled="${nodeStatus} eq 'install'" class="btn btn-block btn-primary btn-lg" name="action" value="run">
                        <i class="mdi mr-4"></i>Start
                    </button>
                </div>
            </form>
            <form th:action="@{node}" method="post" th:if="${nodeStatus} eq 'running'">
                <div class="form-group">
                    <button type="submit" class="btn btn-block btn-danger btn-lg" name="action" value="stop">
                        <i class="mdi mr-4"></i>Stop
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div xmlns:th="http://www.thymeleaf.org" th:fragment="nodeStatus">
    <div class="row" id="proBanner">
        <div class="col-md-3 grid-margin">
        </div>
        <div class="col-md-6 grid-margin">
            <div class="card bg-github border-0">
                <div class="card-body d-flex align-items-center justify-content-center flex-wrap">
                    <p th:if="${nodeStatus} eq 'running'" class="mb-0 text-white font-weight-bold">
                        Supernode is running
                    </p>
                    <p th:if="${nodeStatus} eq 'finished'" class="mb-0 text-white font-weight-bold">
                        Supernode is shut down
                    </p>
                    <p th:if="${nodeStatus} eq 'failed'" class="mb-0 text-white font-weight-bold">
                        Something failed - Please retry
                    </p>
                    <p th:if="${nodeStatus} eq 'install'" class="mb-0 text-white font-weight-bold">
                        Supernode is installing
                    </p>
                    <p th:if="${nodeStatus} eq 'no'" class="mb-0 text-white font-weight-bold">
                        Supernode is not installed yet
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3 grid-margin">
        </div>
    </div>
</div>