<div lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="tx-mandatory">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title mdi mdi-chevron-double-right">  Transaction</h4>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" for="fromAddress">From</label>
                        <div class="col-sm-9">
                            <select class="form-control" id="fromAddress" name="fromAddress" required>
                                <option th:each="address : ${addresses}" th:value="${address}" th:text="${address}"></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" for="toAddress">To</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="toAddress" id="toAddress" maxlength="35" minlength="35" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" for="amount">CPX</label>
                        <div class="col-sm-9">
                            <input type="number" min="0" step="any" value="0" class="form-control" name="amount" id="amount" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" for="gasPrice">Fee/CPX</label>
                        <div class="col-sm-9">
                            <input type="number" min="0" step="any" class="form-control" value="0.0000001" name="gasPrice" id="gasPrice" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" for="walletPassword">Wallet Password</label>
                        <div class="col-sm-9">
                            <input type="password" class="form-control" name="walletPassword" id="walletPassword">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="tx-mandatory-vm">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title mdi mdi-chevron-double-right">  Transaction</h4>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" for="fromAddressVm">From</label>
                        <div class="col-sm-9">
                            <select class="form-control" id="fromAddressVm" name="fromAddressVm" required>
                                <option th:each="address : ${addresses}" th:value="${address}" th:text="${address}"></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" for="gasPriceVm">Fee/CPX</label>
                        <div class="col-sm-9">
                            <input type="number" min="0" step="any" class="form-control" value="0.0000001" name="gasPriceVm" id="gasPriceVm" required>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" for="gasLimitVm">Limit/CPX</label>
                        <div class="col-sm-9">
                            <input type="number" min="0" step="any" class="form-control" value="0.0000003" name="gasLimitVm" id="gasLimitVm" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" for="walletPasswordVm">Wallet Password</label>
                        <div class="col-sm-9">
                            <input type="password" class="form-control" name="walletPasswordVm" id="walletPasswordVm">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="tx-create">
    <div class="col">
        <button type="button" class="btn btn-github col-12" data-toggle="modal" data-target="#createModal">
            CREATE
        </button>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form th:method="post" th:action="@{wallet}">
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title mdi mdi-account-plus">  New Wallet</h4>
                                    <div class="form-group">
                                        <label for="mnemonic">Mnemonic</label>
                                        <textarea rows="4" class="form-control" name="mnemonic" id="mnemonic" th:text="${mnemonic}"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="newWalletPass">Password</label>
                                        <input type="password" class="form-control" name="newWalletPass" id="newWalletPass">
                                    </div>
                                    <div class="form-group">
                                        <label for="newWalletPassRep">Repeat</label>
                                        <input type="password" class="form-control" name="newWalletPassRep" id="newWalletPassRep">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-center">
                        <button type="submit" class="btn btn-github" name="action" th:value="create">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="tx-import">
    <div class="col">
        <button type="button" class="btn btn-github col-12" data-toggle="modal" data-target="#importModal">
            IMPORT
        </button>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="importModal" tabindex="-1" role="dialog" aria-labelledby="importTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form th:method="post" th:action="@{wallet}">
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title mdi mdi-account-plus">  Import Wallet</h4>
                                    <div class="form-group">
                                        <label for="importSecret">Secret</label>
                                        <textarea class="form-control" rows="6" name="importSecret" id="importSecret"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="importWalletPass">Password</label>
                                        <input type="password" class="form-control" name="newWalletPass" id="importWalletPass">
                                    </div>
                                    <div class="form-group">
                                        <label for="importWalletPassRep">Repeat</label>
                                        <input type="password" class="form-control" name="newWalletPassRep" id="importWalletPassRep">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-center">
                        <button type="submit" class="btn btn-github" name="action" th:value="import">Import</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="tx-transfer">
    <div class="col">
        <button type="button" class="btn btn-github col-12" data-toggle="modal" data-target="#transferModal">
            TRANSFER
        </button>
    </div>
    <!-- Modal -->
    <div class="modal fade bd-example-modal-lg" id="transferModal" tabindex="-1" role="dialog" aria-labelledby="transferTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form th:method="post" th:action="@{wallet}">
                    <div class="modal-body">
                        <th:block th:include="partials/_wallet::tx-mandatory"></th:block>
                    </div>
                    <div class="modal-footer justify-content-center">
                        <button type="submit" class="btn btn-github" name="action" th:value="transfer">Execute Transaction</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="tx-vote">
    <div class="col">
        <button type="button" class="btn btn-github col-12" data-toggle="modal" data-target="#voteModal">
            VOTE
        </button>
    </div>
    <!-- Modal -->
    <div class="modal fade bd-example-modal-lg" id="voteModal" tabindex="-1" role="dialog" aria-labelledby="voteTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form th:method="post" th:action="@{wallet}">
                    <div class="modal-body">
                        <div class="form-group">
                            <th:block th:include="partials/_wallet::tx-mandatory-vm"></th:block>
                        </div>
                        <div class="form-group">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title mdi mdi-shape-polygon-plus">  Voting Payload</h4>
                                    <div class="form-group">
                                        <label for="voteCandidate">Candidate</label>
                                        <select class="form-control" id="voteCandidate" name="voteCandidate" required>
                                            <option th:each="witness : ${witnesses}" th:value="${witness}" th:text="${witness}"></option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="voteAmount">Amount Votes</label>
                                        <input type="number" min="0" step="any" value="1" class="form-control" name="voteAmount" id="voteAmount">
                                    </div>
                                    <div class="form-group">
                                        <label for="voteType">Mode</label>
                                        <select class="form-control" id="voteType" name="voteType" required>
                                            <option value="add">Add</option>
                                            <option value="remove">Revoke</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-center">
                        <button type="submit" class="btn btn-github" name="action" th:value="vote">Execute Transaction</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="tx-register">
    <div class="col">
        <button type="button" class="btn btn-github col-12" data-toggle="modal" data-target="#registerModal">
            REGISTER
        </button>
    </div>
    <!-- Modal -->
    <div class="modal fade bd-example-modal-lg" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form th:method="post" th:action="@{wallet}">
                    <div class="modal-body">
                        <div class="form-group">
                            <th:block th:include="partials/_wallet::tx-mandatory-vm"></th:block>
                        </div>
                        <div class="form-group">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title mdi mdi-account-plus">  Registration Payload</h4>
                                    <div class="form-group">
                                        <label for="registerAddress">Address</label>
                                        <select class="form-control" id="registerAddress" name="registerAddress" required>
                                            <option th:each="wallet : ${wallets}" th:value="${wallet.get('walletAddress')}" th:text="${wallet.get('walletAddress')}"></option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="registerType">Mode</label>
                                        <select class="form-control" id="registerType" name="registerType" required>
                                            <option value="add" selected>Register</option>
                                            <option value="remove">Revoke</option>
                                        </select>
                                    </div>
                                    <div class="form-group" id="companyDiv">
                                        <label for="company">Company Name</label>
                                        <input type="text" class="form-control" name="company" id="company">
                                    </div>
                                    <div class="form-group" id="urlDiv">
                                        <label for="url">URL</label>
                                        <input type="text" class="form-control" name="url" id="url">
                                    </div>
                                    <div class="form-group" id="countryDiv">
                                        <label for="country">Country</label>
                                        <input type="text" class="form-control" name="country" id="country">
                                    </div>
                                    <div class="form-group" id="locationDiv">
                                        <label for="location">Location</label>
                                        <input type="text" class="form-control" name="location" id="location">
                                    </div>
                                    <div class="form-group" id="longitudeDiv">
                                        <label for="longitude">Longitude</label>
                                        <input type="number" min="-180" max="180" step="any" value="1" class="form-control" name="longitude" id="longitude">
                                    </div>
                                    <div class="form-group" id="latitudeDiv">
                                        <label for="latitude">Latitude</label>
                                        <input type="number" min="-90" max="90" step="any" value="1" class="form-control" name="latitude" id="latitude">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-center">
                        <button type="submit" class="btn btn-github" name="action" th:value="register">Execute Transaction</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="walletList">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title text-primary mdi mdi-wallet icon-md">  Wallets</h4>
            <!-- Accordion card -->
            <div class="card" th:each="wallet : ${wallets}">
                <!-- Card header -->
                <div class="card-header" role="tab" th:id="${'headingOne_'+wallet.get('walletAddress')}">
                    <a data-toggle="collapse" th:data-target="${'#collapseOne_'+wallet.get('walletAddress')}" aria-expanded="true">
                        <div class="row">
                            <div class="col-md-11">
                                <p class="mb-0" th:text="${wallet.get('walletAddress')}"></p>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- Card body -->
                <div th:id="${'collapseOne_'+wallet.get('walletAddress')}" class="collapse hide">
                    <div class="card-body">
                        <div class="form-group row">
                            <div class="col-md-6">
                                <h5 class="mdi mdi-cash-100 icon-sm" th:text="${' ' + __${wallet.get('balance')}__ + ' CPX'}"></h5>
                            </div>
                            <div class="col-md-4">
                                <h5 class="mdi mdi-chevron-double-up icon-sm" th:text="${' ' + __${wallet.get('nonce')}__}"></h5>
                            </div>
                            <form th:method="post" th:action="@{wallet}">
                                <div class="col-md-2">
                                    <button type="submit" class="btn btn-inverse-dark btn-icon"
                                            name="action" th:value="deleteWallet">
                                        <i class="mdi mdi-delete"></i>
                                    </button>
                                    <input type="hidden" name="address" th:value="${wallet.get('walletAddress')}">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Accordion card -->
        </div>
    </div>
</div>
<div lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="txList">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title text-primary mdi mdi-chevron-double-right icon-md">  Transactions</h4>
            <!-- Accordion card -->
            <div class="card" th:each="transaction : ${transactions}">
                <!-- Card header -->
                <div class="card-header" role="tab" th:id="${'headingOne_' + transaction.get('txHash')}">
                    <a data-toggle="collapse" th:data-target="${'#collapseOne_'+transaction.get('txHash')}" aria-expanded="true">
                        <p class="mb-0" th:text="${transaction.get('txHash')}"></p>
                    </a>
                </div>
                <!-- Card body -->
                <div th:id="${'collapseOne_'+transaction.get('txHash')}" class="collapse hide">
                    <div class="card-body">
                        <div class="row justify-content-center form-group">
                            <p th:text="${transaction.get('from')}"></p>
                        </div>
                        <div class="row justify-content-center form-group">
                            <h3 class="mdi mdi-chevron-double-down icon-md"> </h3>
                        </div>
                        <div class="row justify-content-center form-group">
                            <p th:text="${transaction.get('to')}"></p>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-3">
                                <h3 class="mdi mdi-console icon-sm text-primary" th:text="' ' + ${transaction.get('type')}"></h3>
                            </div>
                            <div class="col-md-6">
                                <h3 class="mdi mdi-cash-100 icon-sm" th:text="' ' + ${transaction.get('amount')}"></h3>
                            </div>
                            <div class="col-md-3">
                                <h3 class="mdi mdi-check-all icon-sm text-success" th:if="${transaction.get('confirmed')}"> Confirmed</h3>
                                <h3 class="mdi mdi-window-close icon-sm text-danger" th:if="${!transaction.get('confirmed')}"> Unconfirmed</h3>
                            </div>
                        </div>
                        <div class="row form-group h-100">
                            <textarea rows="4" class="h-100 form-control" name="txData" th:id="'data' + ${transaction.get('txHash')}" th:text="${transaction.get('data')}"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Accordion card -->
        </div>
    </div>
</div>

<div lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="register-script">
    <script>
        $("#registerType").change(function() {
            if (document.getElementById("registerType").value === 'remove') {
                $("#companyDiv").hide();
                $("#urlDiv").hide();
                $("#countryDiv").hide();
                $("#locationDiv").hide();
                $("#latitudeDiv").hide();
                $("#longitudeDiv").hide();
            } else {
                $("#companyDiv").show();
                $("#urlDiv").show();
                $("#countryDiv").show();
                $("#locationDiv").show();
                $("#latitudeDiv").show();
                $("#longitudeDiv").show();
            }
        });
    </script>
</div>
